<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<h2> Comments </h2>
<div id= "comments">
	<% @post.comments.each do |comment| %>
	    <% div_for comment do %>
	    <p>
	  	 <strong> Posted <%= time_ago_in_words(comment.create_at) %></strong>>br />
	  	 <%=h(comment.body) %>
	    </p>
	<%end%>
<%end%>
</div>

<%= form_for([@post, Comment.new]) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	<p>
	<p><% f.submit "Add Comment" %><br />
<%end%>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
